.navItem ul li a:hover .navline,.navItem ul li a:active .navline{
    width: 75%;
}
.navItem{
    backdrop-filter: blur(4px);
}
@media all and (min-width:1024px){
    .navItem{
        backdrop-filter:unset
    }
}